* {
 box-sizing: border-box;
 margin:  0;
 padding: 0;
}

div#app {
  height: 100vh;
}

header {
  position: fixed;
  width: 100vw;
  height: 7vh;
  z-index: 2;
}

@media (max-width: 575px) {
  :root {
    font-size: 12px;
  }
}
